h1{
	
  font-family: "Playwrite MX", cursive;
	color: skyblue;
}

h2{
	color: skyblue;
	font-size: 40px;
	font-family: ;
}

p{
	font-size: 25px;
	font-family:"Raleway", sans-serif;
	color: darkblue;


}
